@font-face {
  font-family: Kreon;
  src: url('assets/fonts/Kreon-VariableFont_wght.ttf');
}

#root {
  background-color: var(--background-root);
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: Kreon;
  overflow: hidden;
}

body {
  margin: 0;
}